html{
    box-sizing: border-box;
}

*,*::before, *::after{
    box-sizing:inherit;
}

*{
    /* border: 1px solid blue; */
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid.custom-container {
    padding: 0;
    margin: 0;
}

header{
    display:flex;
    padding: 5px;
    background-color: rgb(245, 243, 243);
    justify-content: space-between;
}

header ul li{
    display: inline-block;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 4px;

}

header ul li a{
    color: #121212;
    text-decoration: none;
    font-size: 13px;
} 


span{
    color: red;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.logo{
    text-decoration: none;
}

.login{
    font-weight: bold;
}


.line-1{
    height: 1px;
    background-color: #ccc;
    border: none;

}



.design-now{
    text-align: center;
    border: 1px solid;
    margin-left: 40%;
    margin-right: 50%;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    width: 185px;
}

.design-container ul{
    display: flex;
    justify-content: space-around;
}

.design-container ul li{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0px;
    border-radius: 12px;
    width: 120px;
    padding-left: 28px;
    font-size: 14px;
}

.design-container ul li a{
    text-decoration: none;
    color: #121212;
}

.designs{
    display: flex;
    justify-content: space-around;
    position: relative;
    }

    .design-1{
    position: relative;
    display: flex;
    border: none;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(245, 243, 243);
    margin-top: 70px;
    margin-right: 10px;
    margin-left: 10px;
}

.design-caption{
    position:absolute;
    bottom: 10px;
    left: 75px;
    width: 99px;
    padding: 0px;
    border-radius: 25px;
    border: 1px solid;
    text-align: center;
    background-color: #fff;
}

.circle-1{
    border-radius: 100%;
    background-color: rgb(206, 199, 199);
    margin-left: -28px;
    margin-right: 2px;
}

.buy-now{
    text-align: center;
    border: 1px solid;
    margin-left: 40%;
    margin-right: 50%;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    width: 185px;
}

.Buy-container ul{
    display: flex;
    justify-content: space-around;
}

.Buy-container ul li{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0px;
    border-radius: 12px;
    width: 120px;
    padding-left: 28px;
    font-size: 14px;
}

.Buy-container ul li a{
    text-decoration: none;
    color: #121212;
}

.buy{
    display: flex;
    justify-content: space-around;
    position: relative;
    }

    .buy-1{
    position: relative;
    display: flex;
    border: none;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(245, 243, 243);
    margin-top: 70px;
    margin-right: 10px;
    margin-left: 10px;
}

.buy-caption{
    position:absolute;
    bottom: 10px;
    left: 75px;
    width: 99px;
    padding: 0px;
    border-radius: 25px;
    border: 1px solid;
    text-align: center;
    background-color: #fff;
}


.discover-now{
    text-align: center;
    border: 1px solid;
    margin-left: 40%;
    margin-right: 50%;
    font-weight: bold;
    padding: 10px;
    margin-top: 5px;
    width: 185px;
}

.Discover-container ul{
    display: flex;
    justify-content: space-around;
}

.Discover-container ul li{
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0px;
    border-radius: 12px;
    width: 120px;
    padding-left: 28px;
    font-size: 14px;
}

.Discover-container ul li a{
    text-decoration: none;
    color: #121212;
}

.discover{
    display: flex;
    justify-content: space-around;
    position: relative;
    }

    .Discover-1{
    position: relative;
    display: flex;
    border: none;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(245, 243, 243);
    margin-top: 70px;
    margin-right: 10px;
    margin-left: 10px;
}

.discover-caption{
    position:absolute;
    bottom: 10px;
    left: 75px;
    width: 99px;
    padding: 0px;
    border-radius: 25px;
    border: 1px solid;
    text-align: center;
    background-color: #fff;
}



@media screen and (max-width: 510px){
    header{
        display:flex;
        padding: 5px;
        background-color: rgb(245, 243, 243);
        justify-content: space-between;
    }
    header ul li{
    display: block;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 4px;

}
.design-now{
    margin-left: 30% !important;
    margin-right: 50%;
}

}
